<!--<div class="modal image-modal transparent">-->
    <ion-view view-title="Informasi">
        <ion-content>
            <div class="list card">
                <div class="item item-avatar">
                    <img src="img/star.jpg">
                    <h2>STAR</h2>
                    <p>Your Department Store</p>
                </div>
                <div class="item item-body">
                    <img class="full-image" src="/img/StoreStar.jpeg">
                    
                    <p>
                        STAR Department Store Didirikan pada tahun 2007, Produk kami berupa
                        Ladies Wear, Cosmetic, Shoes and Bag, Accesories, Mens Wear, Children Wear, Home Appliance.

                    </p>
                    <p>
                        PT Star Maju Sentosa
                        Plaza Summarecon
                        lantai 5 Jl. Perintis Kemerdekaan No.42
                        Jakarta 13210
                        T : 021- 47869448
                    </p>
                </div>
                <div class="item item-body">
                    Our Store :
                    <p>Mal Kelapa Gading 1</p>
                    <p>Summarecon Mal Serpong 1</p>
                    <p>Summarecon Mal Bekasi</p>
                </div>
            </div>
        </ion-content>
    </ion-view>
<!--</div>-->
    