<div class="modal image-modal transparent">
    <ion-header-bar>
        <h1 class="title">Promo Detail</h1>
    </ion-header-bar>
    <ion-content>
        <ion-list>
            <ion-item>
                <label class="item item-input">
                    <span class="input-label">{{promo.promocode}}</span>
                </label>
                <img ng-src="{{promo.imageUrl}}" class="image-list-thumb" style="position:center" ng-click="" />
            </ion-item>
        </ion-list>
    </ion-content>
</div>