<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <link href="//code.ionicframework.com/nightly/css/ionic.css" rel="stylesheet">
    <script src="//code.ionicframework.com/nightly/js/ionic.bundle.js"></script>
    <script src="../app.js"></script>
</head>
<body ng-controller="SlideBoxCtrl">
<div>
    <ion-content>
        <ion-slide-box on-slide-changed="slideHasChanged()" show-pager="true" does-continue="true" auto-play="true">
            <ion-slide ng-repeat="i in promoBest" ng-click="showDataBest($index)">
                <img ng-src="{{i.image}}" class="image-list-thumb"/>
            </ion-slide>
        </ion-slide-box>
        <ion-slide-box on-slide-changed="slideHasChanged()" show-pager="true" does-continue="true">
            <ion-slide ng-repeat="i in promoCategory" ng-click="showDataCategory($index)">
                <img ng-src="{{i.image}}" class="image-list-thumb"/>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</div>
</body>