.slider {
    height: 40vh;
}

.slider-slide {
    /*width: 100vh; */
    /*padding-left: 20vh;*/
    /*padding-right: 20vh;*/
    padding-top: 20px;
    background-color: white;
}


.image-list-thumb {
    padding: 2px 2px 2px 2px;
    height: 30vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.image-list-zoom {
    padding: 20px 20px 20px 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


.image-footer {
    height: 35px;
}
